@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background-color: rgb(233, 227, 227);
}

.root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .header1{
    background-size: cover;
    background-repeat: no-repeat;
}

.header1 .navbar .logo{
    background-color: yellowgreen;
    border-radius: 3rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    text-decoration: None;
    margin: auto;
    font-weight: 700;
}

.header1 .navbar .container1{
    margin: 0 auto;
    width:fit-content;
}

.navbar{
    padding: 1rem;
    margin-bottom: 1rem;
}

 .header1 .navbar a{
    color: #f4f4f4;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.text-grey{
    background-color: #555555;
}

.text-light{
    color: #f4f4f4;
}

.section{
    width:100vw;
    height: 75vh;
}

.submit_button{
    text-align: center;
    width: 90%;
    margin: 0 1.6rem;
    font-weight: 500;
}

.form1 .submit_button{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    margin: 0.5em 1.6rem;
    background-color: lightgreen;
    border-radius: 3rem;
    text-decoration: None;
}

form label{
    display: flex;
    font-weight: 500;
    padding: 0 0 0 0.2rem;
    margin: 0 2rem;
}

form input{
    height: 2rem;
    width: 90%;
    margin: 0 1.6rem;
    border: 2px solid #555555;
    border-radius: 15px;
}

form textarea{
    height: 5rem;
    width: 90%;
    margin: 0 1.6rem;
    border: 2px solid #555555;
    border-radius: 15px;
}

.contact_info{
    width:45vw;
    float:left;
    padding-left: 0.5rem;
    margin: 0.5rem 1.6rem;
    background: linear-gradient(rgba(48, 45, 45, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/Contact_Us.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_form{
    width:45vw;
    float: right;
    margin: 0.5rem 1.6rem;
    background-color: white;
}

.section::after{
    content: '';
    display: block;
    clear: both;
}

.box .icon {
    color: aqua;
    display: block;
    float: left;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: blue;
    width:fit-content;
   border-bottom: 1px solid aqua;
   margin: 0 auto;
}

form a:hover{
    color: palevioletred;
}

.contact_form h2{
    padding-left: 1rem; 
}